<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Earthquake Insurance List</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
	<div align="center" class="container-sm" style="margin-top: 50px;">
        <h2>Earthquake Insurance List</h2>
        <table class="table table-bordered">
            <thead> 
                <tr>
                    <th>Id</th>
                    <th>Customer Id</th>
                    <th>Address</th>
                    <th>Built Year</th>
                    <th>Built Type</th>
                    <th>Floor Count</th>
                    <th>Damage Status</th>
                    <th>Price</th>
                    <th>Discount Rate</th>
                    <th>Discounted Price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="earthquakeInsurance : ${earthquakeInsuranceList}">
                    <td th:text="${earthquakeInsurance.id}"></td>
					<td th:text="${earthquakeInsurance.customer.id}"></td>
                    <td th:text="${earthquakeInsurance.address}"></td>
					<td th:text="${earthquakeInsurance.builtYear}"></td>
                    <td th:text="${earthquakeInsurance.builtType}"></td>
                    <td th:text="${earthquakeInsurance.floorCount}"></td>
                    <td th:text="${earthquakeInsurance.damageStatus}"></td>
                    <td th:text="${earthquakeInsurance.price}"></td>
                    <td th:text="${earthquakeInsurance.discountRate}"></td>
                    <td th:text="${earthquakeInsurance.discountedPrice}"></td>
                </tr>
            </tbody>
        </table>
        <a th:href = "@{/newEarthquakeInsuranceForm}" class="btn btn-primary" type="submit" >Add Earthquake Insurance</a>
        <a th:href = "@{/}" class="btn btn-primary" type="submit" >Go to Customer List</a>
    </div>
</body>
</html>