<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Customer List</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
	<div align="center" class="container-sm" style="margin-top: 50px;">
        <h2>Customer List</h2>
        <table class="table table-bordered">
            <thead> 
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Gender</th>
                    <th>Birth Year</th>
                    <th>Email</th>
                    <th>Nationality Id</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${customerList}">
                    <td th:text="${customer.id}"></td>
					<td th:text="${customer.name}"></td>
                    <td th:text="${customer.surname}"></td>
					<td th:text="${customer.gender}"></td>
                    <td th:text="${customer.birthYear}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.nationalityId}"></td>
                </tr>
            </tbody>
        </table>
        <a th:href = "@{/newCustomerForm}" class="btn btn-primary" type="submit" >Add Customer</a>
        <a th:href = "@{/healthInsuranceList}" class="btn btn-primary" type="submit" >List Health Insurances</a>
        <a th:href = "@{/earthquakeInsuranceList}" class="btn btn-primary" type="submit" >List Earthquake Insurances</a>
        <a th:href = "@{/trafficInsuranceList}" class="btn btn-primary" type="submit" >List Traffic Insurances</a>
        </div>
</body>
</html>