<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Policy List</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
	<div align="center" class="container-sm" style="margin-top: 50px;">
        <h2>Policy List</h2>
        <table class="table table-bordered">
            <thead> 
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="policy : ${getAllPolicies}">
                    <td th:text="${policy.Id}"></td>
					<td th:text="${policy.Name}"></td>
                </tr>
            </tbody>
        </table>
        <a th:href = "@{/newPolicyForm}" class="btn btn-primary" type="submit" >Add Policy</a>
        <a th:href = "@{/}" class="btn btn-primary" type="submit" >Go to Customer List</a>
    </div>
</body>
</html>