<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Traffic Insurance List</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
	<div align="center" class="container-sm" style="margin-top: 50px;">
        <h2>Earthquake Insurance List</h2>
        <table class="table table-bordered">
            <thead> 
                <tr>
                    <th>Id</th>
                    <th>Customer Id</th>
                    <th>Last Years Damage Grade</th>
                    <th>Age</th>
                    <th>Brand</th>
                    <th>City Traffic Density</th>
                    <th>Price</th>
                    <th>Discount Rate</th>
                    <th>Discounted Price</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="trafficInsurance : ${trafficInsuranceList}">
                    <td th:text="${trafficInsurance.id}"></td>
					<td th:text="${trafficInsurance.customer.id}"></td>
                    <td th:text="${trafficInsurance.lastYearsDamageGrade}"></td>
					<td th:text="${trafficInsurance.age}"></td>
                    <td th:text="${trafficInsurance.brand}"></td>
                    <td th:text="${trafficInsurance.cityTrafficDensity}"></td>
                    <td th:text="${trafficInsurance.price}"></td>
                    <td th:text="${trafficInsurance.discountRate}"></td>
                    <td th:text="${trafficInsurance.discountedPrice}"></td>
                </tr>
            </tbody>
        </table>
        <a th:href = "@{/newTrafficInsuranceForm}" class="btn btn-primary" type="submit" >Add Traffic Insurance</a>
        <a th:href = "@{/}" class="btn btn-primary" type="submit" >Go to Customer List</a>
    </div>
</body>
</html>